@media(max-width:425px){
    .container{
        padding: 20px;
    }
    .card{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .containt-left img {
      border-radius: 10px ;
  
      
    }
}